@use 'src/styles/helpers' as *;

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phrase {
  text-align: center;
  font-size: 18px;
}

@media (max-width: $sm-width) {
  .phrase {
    font-size: initial;
  }
}
