version: 3
jobs:
  dependencies:
    docker:
      - image: node:24.12.0

    steps:
      - run:
          name: Clone repository
          command: git clone https://github.com/tolochenkovad/my-trello.git .

      - run:
          name: Install dependencies
          command: yarn install

      - persist_to_workspace:
          root: .
          paths: node_modules

  eslint:
    docker:
      - image: node:24.12.0

    steps:
      - run:
          name: Clone repository
          command: git clone https://github.com/tolochenkovad/my-trello.git .

      - attach_workspace:
          at: ./

      - run:
          name: Check ESLint
          command: yarn eslint

  # test:
  #   docker:
  #     - image: node:24.12.0

  #   steps:
  #     - checkout

  #     - attach_workspace:
  #         at: ./

  #     - run:
  #         name: Check unit tests
  #         command: yarn test

  deploy-firebase:
    docker:
      - image: node:24.12.0

    steps:
      - run:
          name: Clone repository
          command: git clone https://github.com/tolochenkovad/my-trello.git .

      - attach_workspace:
          at: ./

      - run:
          name: Build
          command: yarn build

      - persist_to_workspace:
          root: .
          paths:
            - dist
            - firebase.json
            - .firebaserc

      - run:
          name: Install Firebase CLI
          command: npm install -g firebase-tools

      - run:
          name: Deploy to Firebase Hosting
          command: firebase deploy --token "$FIREBASE_TOKEN"

workflows:
  version: 2
  fast-test:
    jobs:
      - dependencies
      - eslint:
          requires:
            - dependencies
      # - test:
      #     requires:
      #       - dependencies
      - deploy-firebase:
          requires:
            - eslint
            # - test
          filters:
            branches:
              only: main
