@use 'src/styles/helpers' as *;

.column {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0;
  padding: 10px 20px;
  background: #8297ac;
  border: 1px solid black;
  border-bottom: none;
}

.taskList {
  padding: 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  min-height: 100px;
  border: 1px solid black;
}

.isDraggingOver {
  background-color: skyblue;
}

@media (max-width: $md-width) {
  .title {
    font-size: 20px;
  }
}
