@use './variables';
@use './mixins';

body {
  background-color: var(--color-app);
}

.app-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-app);
}

.main-container {
  padding: 20px;
}
