:root {
  --background-app: #ECEFF1;
  --background-column-title: #384252FF;
  --background-task-title: #E4FBECFF;
  --background-task-title-hover: #D3F8ECFF;
  --background-toast-success: #49aa19;
  --background-toast-error: #dc4446;
  --background-toast-info: #1668dc;

  --color-white: #FFFFFFFF;
  --color-blue: #3B82F6FF;
  --color-black: #171A1FFF;
  --color-border: #b8babd;
  --color-icon-hover: #656c7633;

  --width-md: 768px;
  --width-sm: 576px;

  --column-radius: 6px;
  --column-title-size: 24px;

  --radius-task: 4px;
  --height-header: 75px;
}