:root {
  --background-column-title: #384252FF;
  --color-white: #FFFFFFFF;
  --color-blue: #3B82F6FF;
  --color-black: #171A1FFF;
  --color-border: #b8babd;

  --width-md: 768px;
  --width-sm: 576px;

  --column-radius: 6px;
  --column-title-size: 24px;

  --task-radius: 4px;
}