.createBtn {
  margin: 40px 0 20px 0;
  height: 48px;
  padding-inline: 24px;
  border-radius: 14px;
  font-weight: 600;
}

.emptyStateWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.emptyStateTitle {
  margin-top: 30px;
  max-width: 520px;
  text-align: center;
}

.warningBanner {
  background-color: var(--color-warning-banner);
  color: var(--color-white);
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: 500;
}
