.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  &__app-name{
    @include link;
  }
  &__user-box {
    display: flex;
    align-items: center;
  }
  &__user {
    span {
      font-weight: bold;
    }
  }
  &__login {
    @include link;
  }
  &__logout{
    @include link;
    margin-left: 20px;
  }
}