.input {
  margin-bottom: 20px;
  padding: 5px 10px;
}

.color {
  display: flex;
  margin-bottom: 10px;
}

.calendar {
  margin: 20px auto 0;
}

.selectedDate {
  margin-top: 20px;
}

.showCalendar {
  display: block;
}

.hideCalendar {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.select {
  margin-top: 20px;
}
