.input {
  padding: 5px 10px;
}

.formItem {
  margin-bottom: 15px;
}

.color {
  display: flex;
  margin-bottom: 10px;
}

.calendar {
  margin: 20px auto 0;
}

.showCalendar {
  display: block;
}

.hideCalendar {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.endOfTerm {
  color: var(--color-error)
}
