@use 'src/styles/mixins' as *;

.header {
  margin: 0 20px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  height: 75px;
}

.appName {
  @include link;
}

.analytics {
  @include link;
  margin-left: 20px;
}

.createBtn {
  margin-right: 20px;
}

.userBox {
  display: flex;
  align-items: center;
}

.user {
  span {
    font-weight: bold;
  }
}

.login {
  @include link;
}

.logout {
  @include link;
  margin-left: 20px;
}
